
  color: #996666;
}

.tm-footer p {
  font-size: 16px;
}

@media (max-width: 1232px) {
  body {
    padding: 60px;
  }
}

@media (max-width: 1199px) {
  .masonry {
    /* Masonry container */
    -webkit-column-count: 1;
    column-count: 1;
  }

  .tm-container {
    max-width: 600px;
  }
}

@media (max-width: 540px) {
  .tm-block-brand-inner {
    flex-direction: column;
    padding: 35px;
    right: 30px;
  }

  .tm-brand-name {
    margin-top: 20px;
  }

  .tm-contact-form {
    width: calc(100% - 20px);
  }
}

@media (max-width: 520px) {
  body {
    padding: 50px;
  }

  .tm-block-pad {
    padding: 45px;
  }

  .tm-hero-text {
    padding: 50px 45px 0;
  }

  .tm-block-brand {
    margin-top: 70px;
  }
}

@media (max-width: 417px) {
  .tm-block-left,
  .tm-block-left-2 {
    right: 0;
  }

  .tm-block-wider {
    width: 100%;
  }

  .tm-footer {
    flex-direction: column;
  }
}

@media (max-width: 390px) {
  body {
    padding: 40px 20px 10px;
  }

  .tm-form-section-tag-inner {
    left: 25px;
    right: -25px;
    bottom: -25px;
  }
}
